{# src/Her/ItemsBundle/Resources/views/GeneralSpell/delete.html.twig #}

{% extends "HerItemsBundle::layout_default.html.twig" %}

{% block title %}
  Supprimer {{ single.name }} - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer Sort {{ single.name }}</h2>

  <p>
    Etes-vous certain de vouloir supprimer le sort {{ single.name }} ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('her_general_spell_delete', {'slug': single.slug}) }}" method="post">
    <a href="{{ path('her_general_spell_single', {'slug': single.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à {{ single.name }}
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
