{# src/Her/ItemsBundle/Resources/views/TownHall/delete.html.twig #}

{% extends "HerItemsBundle::layout_default.html.twig" %}

{% block title %}
  Supprimer un Hotel de Ville - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un Hotel de Ville</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'Hotel de ville niveau {{ single.level }} ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('her_town_hall_delete', {'level': single.level}) }}" method="post">
    <a href="{{ path('her_town_hall_single', {'level': single.level}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'Hotel de ville niveau {{ single.level }}
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}
