{% extends "HerItemsBundle::layout_items.html.twig" %}
{% block title %}
  {{parent()}}
  : {{ general.name }}
{% endblock %}
{% block left %}
{% endblock %}

{% block single_title %}
    <h1>{{ general.name }}</h1>
{% endblock %}

{% block single_image %}
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#carousel" data-slide-to="0" class="her_li_indicator active">
    <a class="" href="#carousel" role="button" data-slide="0"></a>
  </li>
{% for i in 1.. singles|length - 1 %}
  <li data-target="#carousel" data-slide-to="{{i}}" class="her_li_indicator">
    <a class="" href="#carousel" role="button" data-slide="{{ i }}"></a>
  </li>
{% endfor %}
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <div class="active item">
    <img src="{{ asset(singles[0].image.uploadDir ~ '/' ~ singles[0].image.id ~ '.' ~ singles[0].image.ext) }}" alt="{{ singles[0].image.alt }}">
    <div class="carousel-caption">
      <a href="{{ path('her_weapon_single', {'slug': general.slug, 'level': singles[0].level } ) }}">
        <p>Accéder au niveau {{ singles[0].level }}</p>
      </a>
    </div>
  </div>
  {% for i in 1.. singles|length - 1 %}
  <div class="item">
    {% if singles[i].image is not null %}
      <img src="{{ asset(singles[i].image.uploadDir ~ '/' ~ singles[i].image.id ~ '.' ~ singles[i].image.ext) }}" alt="{{ singles[i].image.alt }}">
      {% else %}
      <img
      src="{{ asset('images/unavailable.png') }}"
      alt="image non-disponible"/>
      {% endif %}
    <div class="carousel-caption">
      <a href="{{ path('her_weapon_single', {'slug': general.slug, 'level': singles[i].level } ) }}">
        <p>Accéder au niveau {{ singles[i].level }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
{% endblock %}

{% block level_property %}

{% endblock %}




{% block general_property %}
<li>Type de dégâts:
  {% if general.damageType.name == 'unique' %}Cible Unique{% endif %}
  {% if general.damageType.name == 'area' %}Zone{% endif %}
</li>
{% if general.damageType.name == 'area' %}
  <li>Etendue des dégâts:
    {{ general.damageArea }}
    {% if general.damageArea < 2 %}
      case
    {% else %}
      cases
    {% endif %}
  </li>
{% endif %}
<li>Cibles:
  {% if general.targetZone.name == 'both' %}Sol et Air{% endif %}
  {% if general.targetZone.name == 'floor' %}Terrestres{% endif %}
  {% if general.targetZone.name == 'air' %}Aériennes{% endif %}
</li>
<li>Espace Occupé: {{ general.space }} x {{ general.space }}</li>
{% if general.speed > 0 %}
<li>Cadence de tir: {{ general.speed }} secondes</li>
{% endif %}
{% endblock %}

{% block level_condition %}
<p>Nombre disponible par Hotel de Ville:</p>
<div class="table-respopnsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>HDV</th>
      {% for townHallAvailability  in townHallAvailabilities %}
        <th><a href="{{ path('her_town_hall_single', {'level': townHallAvailability.townHall.level}) }}">{{ townHallAvailability.townHall.level }}</a></th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nombre</td>
      {% for townHallAvailability  in townHallAvailabilities %}
        <td>{{ townHallAvailability.number }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>
{% endblock %}

{% block level_statistics %}
{% endblock %}

{% block item_links %}
<p>
  <a href="{{ path('her_weapon_add', {'slug': general.slug}) }}" class="btn btn-default">
    <i class="glyphicon glyphicon-plus"></i>
    Ajouter {{ general.name }}
  </a>
</p>
{% endblock %}

{% block linky_items_présentation %}
Description
{% endblock %}

{% block linky_items %}
{% if general.description is not null %}
{{ general.description  }}
{% endif %}
{% endblock %}
